<html ng-app="mainApp">
	<body ng-controller="mainCtrl">
		<input type="text" placeholder="type" ng-model="text"></input>
		<div ng-repeat="data in dataReturn | filter: text">
			<div style="font-weight: bold">Name:{{data.name}}
			</div>
			<div>Email:{{data.email}}
			</div>
					<div>Phone#: {{data.phone}}
					</div>
		</div>


				<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
